<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-4">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>email</strong>: <%= user.local.email %><br/>
                        <strong>current balance</strong>: <span  id= "bbb" style='color:red'><%= user.balance %></span>
                    </p>
                    <h4> Live:</h4>
                    <div id="live"></div>

                    <h4> Upcoming:</h4>
                    <div id="upcoming"></div>
                    <h4> Past Games:</h4>
                    <div id='past-games'></div>

            </div>
        </div>

        <div class="col-sm-8">
            <div class="well">
                <h3><span class="glyphicon glyphicon-tasks"></span> Betting History</h3>
                    <p>
                     <% records.forEach(function(drink, i) { %>
                        <strong> <%= drink['date'] %></strong>
                        <a href='<%= drink['url'] %>' style='float:right'><%= drink["simple_title"]%></a> <br/>
                       
                        <strong>bet on: </strong> <span style='float:right'><%= drink['bet_on'] %></span>
                        <br/>
                         <strong> amount:</strong> 
                         <span style='float:right;display:inline-block;'> <%= drink["amount"] %> </span>
                        <br/>
                    <% }); %>
                    </p>
            </div>
        </div>

    </div>

</div>
<p id="hiddenRecord" hidden><%= JSON.stringify(records);%></p>


</body>

</html>

<script>


$(document).ready(function() {
    var str = $("#hiddenRecord").text(); 
    var records = JSON.parse(str); //records is match data json display originally on page
    records.forEach(function(drink, i) { // each json record is called a drink
        let parameters = {
            url: drink['url']
        };
        $.post( '/getMatchResult',parameters, function(data) {
            if(data['status'] == 'Live') {
                $( "#live" ).append("<a href='" + drink['url'] + "'> " +  drink["simple_title"] + " </a> <br/>");
            } else if(data['status'] == 'Upcoming') {
                $( "#upcoming" ).append("<a href='" + drink['url'] + "'> " +  drink["simple_title"] + " </a><br/>" );
            } else if (data['status'] == 'Complete') {
                $("#past-games").append("<a href='" + drink['url'] + "'> " +  drink["simple_title"] + " </a>" );
                let num = $("#bbb").text();
                if(data["home"]['score'] > data['away']['score']) {
                    $("#past-games").append("<div style='color:red'>" + data['home']['name'] +" won! </br>" + "</div>");
                } else {
                    $("#past-games").append("<div style='color:red'>" + data['away']['name'] +" won! </br>" + "</div>");
                }
                $('#bbb').html(parseInt($('#bbb').html(), 10)+math.random()* drink["amount"]);
            }
            console.log(data);
        });
    });
});


</script>
