<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
   
  <% include ../partials/nav.ejs %>
  <div class = "container"> 

  	<div class="main-container" style="float:left;position: relative;left: 50%;">
    <div class="fixer-container" style="float:left;position: relative;left: -50%;">
  	<ul class="list-group" style="width:100%">
    <% tickerjson.games.forEach(function(drink, i) {  	 %>


    		<li class="list-group-item">
    		<div style="display: block;;">
	        
		        <div><a href='<%= drink['url'] %>'><%= drink["team 1"]["name"] %> vs <%= drink["team 2"]["name"] %> </a></div>
		        <div>odd: <%= drink["team 1"]["bet"] %> vs <%= drink["team 2"]["bet"] %> </div>
		        <div>live in: <%= drink["live in"] %> </div>
		        <div><%= drink["game"] %></div>
	        </div>
			

			<!-- Button trigger modal -->
			<div style="display: block;">
				<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm<%= i %>">
				    Bet!
				</button>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="myModalNorm<%= i %>" tabindex="-1" role="dialog" 
			     aria-labelledby="myModalLabel" aria-hidden="true">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <!-- Modal Header -->
			            <div class="modal-header">
			                <button type="button" class="close" 
			                   data-dismiss="modal">
			                       <span aria-hidden="true">&times;</span>
			                       <span class="sr-only">Close</span>
			                </button>
			                <h4 class="modal-title" id="myModalLabel">
			                    Bet on this match:
			                </h4>
			            </div>
			            
			            <!-- Modal Body -->
			            <div class="modal-body">
			                
						    <form action="/placebet" method="post" id="myForm">
						        <fieldset>
						            <label><div><%= drink["simple_title"] %> </div></label>
						            <br/>
						            <%= drink["team 1"]["bet"] %> vs <%= drink["team 2"]["bet"] %>
						            <br/>
						            <label for="whichteam">Choose bet on which team
						            </label>
						            <select name="whichteam">
									  <option value="team1"><%= drink["team 1"]["name"] %></option>
									  <option value="team2"><%= drink["team 2"]["name"] %></option>
									</select>

						   			
						            <input type="hidden" name="JSONSTRING" value="<%= JSON.stringify(drink)%>"/>
						            <label for="moneybet">Amount to bet: </label>
						            <br/>
						            <input type="number" name="moneybet" required min="1" max="500"/>
						            <input type="button" value="Send message" onclick="submit_by_tag()"/>
						        </fieldset>
						    </form>
			                
			                
			            </div>
			            
			        </div>
			    </div>
			</div>

			</li>


    <% }); %>
    </ul>
    </div>
    </div>

  </div>


<script>

function submit_by_tag() {
	let js = JSON.parse(document.forms["myForm"]["JSONSTRING"].value);
	if (js["team 1"]["bet"] == '0%' || js["team 2"]["bet"] == '0%') {
		alert("No betting odd information. Bet on another match!");
	} else {
	    document.getElementById("myForm").submit();

	}
}


</script>

</body>
</html>

